@import "src/style/color";

.story {
  position: relative;
  width: 120px;
  height: 200px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 5px 17px -7px rgba(0, 0, 0, 0.75);
  border-radius: 0.8rem;
  margin-right: 0.8rem;
  transition: transform 0.1s ease-in;
  cursor: pointer;

  &:hover {
    transform: scale(1.07);
  }

  .story__avatar {
    margin: 0.8rem;
    border: 3px solid $main;
  }

  h4 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    //text-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
    text-shadow: -1px -1px 3px rgba(0, 0, 0, 0.7),
      1px -1px 3px rgba(0, 0, 0, 0.7), -1px 1px 3px rgba(0, 0, 0, 0.7),
      1px 1px 3px rgba(0, 0, 0, 0.7);
  }
}
