.header__right {
  display: flex;
  align-items: center;

  .header__info {
    display: flex;
    align-items: center;
    margin-right: 2rem;

    h4 {
      margin-left: 0.5rem;
      width: 50px;
      font-size: 0.8rem;
    }
  }
}
